body {
    background-color: #141411;
    color: #E6E6E6;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif
}

h1 {
    color: #66D9EF;
}

h2 {
    color: #FD971F;
}

table {
    border-style: ridge;
}

th {
    color: #fd971f;
    background-color: #272822;
    margin: 0%;
    border-style: none;
    padding: 0%;
}

tr:nth-child(even) { background-color:#272822}
.accent1 {
    color: #fd971f;
    background-color:#272822;
}
.accent2 {
    color: #a6e22e;
    background-color:#272822;
}

em {
    color:#F92672;
}